@CHARSET "ISO-8859-1";

body {
	background-color: #538935;
}

#navbar {
	width: 100%;
	overflow: visible;
	height: 45px;
	line-height: 45px;
	position: relative;
	background-color: #76a547;
	border-color: #5d8138;
	border-radius: 4px;
	color: white;
}
	#navbar ul {
		float: left;
		position: relative;
		margin: 0;
		list-style: none;
		width: auto;
	}
		#navbar ul li {
			float: left;
		}
			#navbar ul li a {
				width: auto;
				padding: 0 15px;
				display: block;
				font-weight: normal;
				text-decoration: none;
				line-height: inherit;
				color: inherit;
			}
		#navbar ul .active {
			background-color: #69933f;
		}
		#navbar ul .divider {
			border-bottom: none;
			border-top: none;
			border-right: solid 1px #4e4e4e;
			clear: none;
			height: 45px;
			width: 0;
		}
		
		
		
		
		
		